.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.img___7Pxub {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img___7Pxub > picture > img {
  object-fit: cover;
}
.freeBox__eQ94H {
  width: auto;
  height: auto;
  justify-items: center;
  justify-self: stretch;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: none;
  flex-direction: column;
  max-width: 100%;
  z-index: 100;
  background: #0000007a;
  padding: 0px 0px var(--token-Tlf-ABrmUB1t);
}
.freeBox__eQ94H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-Pky-E4CaFvs4));
  height: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__eQ94H > :global(.__wab_flex-container) > *,
.freeBox__eQ94H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eQ94H > :global(.__wab_flex-container) > picture > img,
.freeBox__eQ94H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-Pky-E4CaFvs4);
}
.freeBoxopen__eQ94HrS9KV {
  display: block;
}
.freeBox__kYqgI {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: var(--token-6mQmIEer3GeD);
}
.freeBox__kYqgI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-8MkIlsFrrWgx));
  width: calc(100% + var(--token-8MkIlsFrrWgx));
}
.freeBox__kYqgI > :global(.__wab_flex-container) > *,
.freeBox__kYqgI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kYqgI > :global(.__wab_flex-container) > picture > img,
.freeBox__kYqgI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-8MkIlsFrrWgx);
}
.freeBox__bwqbn {
  position: relative;
  min-width: 33vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.img__dkrfw {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__dkrfw > picture > img {
  object-fit: cover;
}
.buttonButton:global(.__wab_instance) {
  max-width: 100%;
}
