.root {
  background: var(--token-UwXz3VmP3Zzf);
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1439px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1279px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 743px) {
  .root > * {
    grid-column: 4;
  }
}
.basicHeaderMain:global(.__wab_instance) {
  max-width: 100%;
}
.section {
  width: 100%;
  height: auto;
  justify-items: center;
  justify-self: stretch;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: var(--token-Tlf-ABrmUB1t) var(--token-6mQmIEer3GeD)
    var(--token-8MkIlsFrrWgx);
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-8MkIlsFrrWgx));
  height: calc(100% + var(--token-8MkIlsFrrWgx));
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-8MkIlsFrrWgx);
}
@media (max-width: 833px) {
  .section {
    padding: var(--token-8y4bZ1GW-JEk);
  }
}
.freeBox__sXuNw {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  max-width: var(--token-Ls4kjfvyF7vL);
  min-width: 0;
}
.link__luO24 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-5mZ_zXFml4u8);
  margin-top: 2px;
  font-family: var(--token-syn-P-_vlMlS);
  font-size: var(--token-XVPOh4mzS46r);
  font-weight: 400;
  font-style: normal;
  text-align: right;
  text-transform: none;
  line-height: var(--token-8sCja8mvp5BW);
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
}
@media (max-width: 1439px) {
  .link__luO24 {
    font-size: var(--token-0z_6QHuCTPvQ);
  }
}
.embedHtml__ys785:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
  color: var(--token-BD1Wtz_cqipu);
  align-self: center;
}
.link__oOcJ3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-5mZ_zXFml4u8);
  margin-top: 2px;
  font-family: var(--token-syn-P-_vlMlS);
  font-size: var(--token-XVPOh4mzS46r);
  font-weight: 400;
  font-style: normal;
  text-align: right;
  text-transform: none;
  line-height: var(--token-8sCja8mvp5BW);
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
}
@media (max-width: 1439px) {
  .link__oOcJ3 {
    font-size: var(--token-0z_6QHuCTPvQ);
  }
}
.embedHtml__vnpHc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
  color: var(--token-BD1Wtz_cqipu);
  align-self: center;
}
.link__dShCg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-OLEGrY5ZMNsX);
  margin-top: 2px;
  font-family: var(--token-syn-P-_vlMlS);
  font-size: var(--token-XVPOh4mzS46r);
  font-weight: 400;
  font-style: normal;
  text-align: right;
  text-transform: none;
  line-height: var(--token-8sCja8mvp5BW);
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
}
@media (max-width: 1439px) {
  .link__dShCg {
    font-size: var(--token-0z_6QHuCTPvQ);
  }
}
.freeBox__cSl1U {
  height: auto;
  width: 100%;
  max-width: var(--token-Ls4kjfvyF7vL);
  display: flex;
  flex-direction: column;
  position: relative;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.freeBox__cSl1U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-Pky-E4CaFvs4));
  height: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__cSl1U > :global(.__wab_flex-container) > *,
.freeBox__cSl1U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cSl1U > :global(.__wab_flex-container) > picture > img,
.freeBox__cSl1U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Pky-E4CaFvs4);
}
.freeBox__ws4Gn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ws4Gn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__ws4Gn > :global(.__wab_flex-container) > *,
.freeBox__ws4Gn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ws4Gn > :global(.__wab_flex-container) > picture > img,
.freeBox__ws4Gn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.h1 {
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__pEeX {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1439px) {
  .freeBox__pEeX {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 833px) {
  .freeBox__pEeX {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 0px) and (max-width: 743px) {
  .freeBox__pEeX {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.hotelCard__lozpd:global(.__wab_instance) {
  max-width: 100%;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__uFtO {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1439px) {
  .freeBox__uFtO {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 833px) {
  .freeBox__uFtO {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 0px) and (max-width: 743px) {
  .freeBox__uFtO {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.hotelCardLoading:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__nhAn {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1439px) {
  .freeBox__nhAn {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 1279px) {
  .freeBox__nhAn {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 833px) {
  .freeBox__nhAn {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 0px) and (max-width: 743px) {
  .freeBox__nhAn {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.hotelCard__lm2PT:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ekdb8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-Tlf-ABrmUB1t) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox__ekdb8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__ekdb8 > :global(.__wab_flex-container) > *,
.freeBox__ekdb8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ekdb8 > :global(.__wab_flex-container) > picture > img,
.freeBox__ekdb8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
@media (max-width: 1439px) {
  .freeBox__ekdb8 {
    margin-top: var(--token-Tlf-ABrmUB1t) !important;
  }
}
.buttonButton__hj8Jj:global(.__wab_instance) {
  max-width: 100%;
  min-width: 24px;
  min-height: 24px;
}
@media (max-width: 1439px) {
  .buttonButton__hj8Jj:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__fem5Y {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__fem5Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-WiiziFwxOi2m));
  width: calc(100% + var(--token-WiiziFwxOi2m));
}
.freeBox__fem5Y > :global(.__wab_flex-container) > *,
.freeBox__fem5Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fem5Y > :global(.__wab_flex-container) > picture > img,
.freeBox__fem5Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-WiiziFwxOi2m);
}
.text__prif6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OLEGrY5ZMNsX);
  min-width: 0;
}
@media (max-width: 1439px) {
  .text__prif6 {
    display: block;
  }
}
.buttonButton__g6Lpv:global(.__wab_instance) {
  max-width: 100%;
  min-width: 24px;
  min-height: 24px;
}
@media (max-width: 1439px) {
  .buttonButton__g6Lpv:global(.__wab_instance) {
    display: flex;
  }
}
.buttonButton___6Zab:global(.__wab_instance) {
  max-width: 100%;
  min-width: 24px;
  min-height: 24px;
}
@media (max-width: 1439px) {
  .buttonButton___6Zab:global(.__wab_instance) {
    display: flex;
  }
}
.buttonButton__hgHBd:global(.__wab_instance) {
  max-width: 100%;
  min-width: 24px;
  min-height: 24px;
}
.text___8DS2T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OLEGrY5ZMNsX);
  min-width: 0;
}
@media (max-width: 1439px) {
  .text___8DS2T {
    display: block;
  }
}
.buttonButton__l3Zy:global(.__wab_instance) {
  max-width: 100%;
  min-width: 24px;
  min-height: 24px;
}
.buttonButton__srBiU:global(.__wab_instance) {
  max-width: 100%;
  min-width: 24px;
  min-height: 24px;
}
.freeBox__u0SQt {
  height: auto;
  width: 100%;
  max-width: var(--token-Ls4kjfvyF7vL);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pxv4H {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  padding: 8px;
}
.link__hzabS {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-decoration-line: underline;
  font-weight: 600;
  min-width: 0;
}
.skeletonStyles:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
